.search-container {
  max-width: 700px;
  margin: 80px auto 0;
  width: 95%;
  overflow-y: hidden;
}

.search-results-container {
  overflow-y: scroll;
  max-height: calc(90vh - 124px);
  padding: 8px;
}
