.stack-item {
  width: 100%;
  max-width: 700px;
  margin: 4em auto 1em;
}

.stack-item.image h3 {
  margin-top: 0;
}

.stack-image {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 50%;
  height: 0;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 2rem;
  display: block;
  position: relative;
  //box-shadow: 0 1.4rem 2rem 0 rgba(0, 0, 0, 0.12);

  img,
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
  }
}

.stack-item.square {
  display: flex;

  .stack-content {
    width: calc(70% - 20px);
    margin-left: 20px;
  }

  .stack-image {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
  }
}

.stack-item.square.image:nth-of-type(odd) {
  flex-direction: row-reverse;

  .stack-image {
    margin-right: 0;
    margin-left: 2rem;
  }

  .stack-content {
    margin-right: 20px;
    margin-left: 0;
    width: calc(70% - 40px);
  }
}

.carousel {
  display: flex;
  align-items: center;

  .stack-image {
    width: 50%;
    flex-shrink: 0;
    position: relative;
  }

  .stack-content {
    flex: 1;
    margin-left: 12px;
  }
}

.toggle-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;

  .arrows {
    font-size: 52px;
    color: #fff;
    outline: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 720px) {
  .stack-item.square {
    display: block;

    .stack-image {
      margin-right: unset !important;
      margin-left: unset !important;
      width: 100% !important;
      padding-bottom: 70% !important;
    }

    .stack-content {
      margin-right: unset !important;
      margin-left: unset !important;
      width: 100% !important;
    }
  }

  .stack-image {
    width: 100%;
    padding-bottom: 70%;
  }

  .stack-content {
    width: 100%;
  }

  .carousel {
    display: block;

    .stack-image {
      width: 100%;
      padding-bottom: 100%;
    }
  }
}
