.stack-item {
  width: 100%;
  max-width: 700px;
  margin: 4em auto 1em;

  &.image {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  }
}

.stack-item.image h3 {
  margin-top: 0;
}

.stack-image {
  width: calc(40% - 2rem);
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 30%;
  height: 0;
  border: 15px solid #e3e4e9;
  margin-right: 2rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.stack-content {
  width: 60%;
}

.stack-item.image:nth-of-type(odd) {
  flex-direction: row-reverse;

  .stack-image {
    margin-right: 0;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .stack-image {
    width: 100%;
    padding-bottom: 70%;
    margin-right: 0;
    margin-left: 0 !important;
    margin-bottom: 2rem;
  }

  .stack-content {
    width: 100%;
  }
}
