a {
  color: #048ba8;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #04728a;
  }
}

button {
  font-family: $font-family;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  background: #f5f6f8;
  color: #45526c;
  cursor: pointer;
  border-radius: 1px;
  border: 0;
  outline: none;
  max-width: 250px;
  display: block;
  margin: 16px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &:focus,
  &:hover {
    color: #05324c;
    background: #dfe0e2;
  }
}

button.link,
a.link {
  color: #048ba8;
  background: transparent;

  &:focus,
  &:hover {
    color: #04728a;
  }
}

button.primary {
  background: #048ba8;
  color: #fff;

  &:focus,
  &:hover {
    background: #04728a;
  }
}

button.black {
  background: #333;
  color: #fff;

  &:focus,
  &:hover {
    background: #000;
  }
}

button.subtle {
  background: transparent;
}

button.block {
  width: 100%;
}

button.warning {
  background: #f3ae3d;
  color: #1b2b4b;

  &:focus,
  &:hover {
    background: #dd9f38;
  }
}

button.error {
  background: #cd4425;
  color: #fff;

  &:focus,
  &:hover {
    background: #bb3e22;
  }
}

a.link {
  margin: 16px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: $font-family;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;

  &.black {
    color: #fff;

    &:focus,
    &:hover {
      color: #e3e4e9;
    }
  }
}

a.cta {
  font-family: $font-family;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 1px;
  border: 0;
  outline: none;
  max-width: 250px;
  display: block;
  margin: 16px 18px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #048ba8;
  color: #fff;
  width: 100%;
  text-align: center;

  &:focus,
  &:hover {
    background: #04728a;
  }
}

a.cta.black {
  background: #333;

  &:focus,
  &:hover {
    background: #000;
  }
}
