.loading-bar-container {
  width: 100%;
  height: 4px;
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 1;
    width: 5%;
  }

  5% {
    width: 5%;
  }

  100% {
    width: 85%;
  }
}

.loading-bar {
  width: 85%;
  position: relative;
  top: 0;
  height: 100%;
  background: #acc35c;
  opacity: 1;
  transition: all 0.4s ease-in;
  animation-name: load;
  animation-duration: 1s;
}

.loading-bar.complete {
  width: 100%;
  animation-name: none;
}

.loading-bar.complete.hide {
  opacity: 0;
}
